<br>
<footer class="footer">
  <nav>
    Mason Silber
    <%= link_to "Github", "https://github.com/mdsilber" %>
    <%= link_to "LinkedIn", "http://www.linkedin.com/in/masonsilber" %>
  </nav>
</footer>
