<h1>Suggest movies for this event</h1>

<p>Check off movies you want to suggest</p>

<%= form_for(@event, :url => send_suggestions_path ) do |f| %>

  <% suggested_movies = [] %>
  <% @suggestions.each do |suggestion| %>
    <% if suggestion.event_id == @event.id %>
      <% suggested_movies[suggested_movies.length] = suggestion.movie_id %>
    <% end %>
  <% end %>

  <% i = 1 %>
  <% @movies.each do |movie| %>
    <% if !suggested_movies.include?movie.id %>
      <li><input type="checkbox" name="checkedmovie<%= movie.id %>"><%=
      movie.title %></input></li>
      <% i = i + 1 %>
    <% end %>
  <% end %>
  
  <br>
  <br>

  <div class="actions">
    <%= f.submit "Send Suggestions" %>
  </div>
<% end %>
